@charset  "UTF-8";

*{
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: transparent;
  


}

h1{text-decoration: underline;}


.biografia{

  max-width: 500px;
  margin: 0 auto;  
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(360deg, #ff0000, #0000ff);
}
 .negrito:hover{color: red; 
 } 


.negrito{ margin: -9%;
}

.p2{text-align:justify;}






p{color: #000000; text-align: justify;}

/* .negrito:nth-child(n){background-color: lightslategray;}  */

/* .negrito:active{background-color: yellow;} */










