@charset "UTF-8";


*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
nav{

    background-color: #333; 
    transition:background-color 0.10s; 
    /* display:  -webkit-inline-box ; */
    align-items:center;
    width: 392px;
    height: 46px;

}

ul{
    list-style: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li{

    float: left;
}

a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:background-color 0.8s;

}

a:hover{background-color: #002df5; opacity:1 ;}

nav ul li a{

    /* padding: 10px 20px; */
    border-right: 1px solid #fff;

}