@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(150, 118, 38);
}

.service {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgb(255, 3, 3);
}